<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="backend.php">LeMo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="backend.php">Home</a></li>

                <!-- Courses drop down menu -->
                <li class="dropdown course-dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        Courses <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <div id="coursesearch"><input class="form-control" type="text" placeholder="Filter"></div>
                        <div class="course-table-wrapper">
                            <table class="table">
                                <tr>
                                    <td class="courseName favorite"><a href="#">Independent Coursework</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName favorite"><a href="#">Forschungsprojekt</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName favorite"><a href="#">Anwendungen der Diskreten Mathematik
                                        (SL)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName favorite"><a href="#">Programmierkonzepte und Algorithmen
                                        (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName favorite"><a href="#">Systems Development and Frameworks
                                        (SU)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr class="t-first">
                                    <td class="courseName"><a href="#">Augmented Reality (SL)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Augmented Reality (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Mobile Applications for Public Health (SL)</a>
                                    </td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Mobile Applications for Public Health (Ü)</a>
                                    </td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">ITS IT Security (SL)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr class="t-first">
                                    <td class="courseName"><a href="#">ITS IT Security (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Advanced Topics (SL)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Advanced Topics (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Programmierung 3 (SU)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Datenbanken (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr class="t-first">
                                    <td class="courseName"><a href="#">Software Engineering (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Grundlagen sozialer Netze (SU)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Einführung in Multimedia (Ü)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Einführung in die Gesundheitsinformatik (SU)</a>
                                    </td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                                <tr>
                                    <td class="courseName"><a href="#">Verteilte Systeme (SL)</a></td>
                                    <td class="lastRequestDate">30.12.2012</td>
                                </tr>
                            </table>
                        </div>
                    </ul>
                </li>

                <!-- Three analysis dropdowns -->
                <li class="dropdown analysis-dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nutzungsanalysen <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="activity_time"><span>Aktivität Zeit</span>

                            <p>Zeigt, wie häufig jedes Lernobjekt in Ihrem Kurs genutzt wurde.</p></li>
                        <li class="activity_lo"><span>Aktivität Lernobjekt</span>

                            <p>Zeigt, wie häufig jedes Lernobjekt in Ihrem Kurs genutzt wurde.</p></li>
                        <li class="activity_treemap"><span>Aktivität Lernobjekt (Treemap)</span>

                            <p>Zeigt das Verhältnis zwischen den Zugriffszahlen der einzelnen Lernobjekte.</p></li>
                        <li class="activity_culm"><span>Aktivitätsgraph</span>

                            <p>Zeigt das Navigationsverhalten der Nutzer des Kurses anhand eines Netzwerkgraphen.</p>
                        </li>
                        <li class="activity_heatmap"><span>Aktivitätsgraph 2</span>

                            <p>Zeigt das Navigationsverhalten der Nutzer des Kurses anhand eines Netzwerkgraphen.</p>
                        </li>
                    </ul>
                </li>

                <li class="dropdown analysis-dropdown dark">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Navigationsanalysen <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="navigation_bide"><span>Häufige Pfade BIDE</span>

                            <p>Zeigt häufige Navigationssequenzen der Nutzer.</p></li>
                        <li class="navigation_viger"><span>Häufige Pfade Viger</span>

                            <p>Zeigt häufige Navigationssequenzen der Nutzer.</p></li>
                        <li class="navigation_circlegraph"><span>Circle graph</span>

                            <p>Zeigt Navigationsschritte der Nutzer zwischen einzelnen Lernobjekten. Zeigt häufige
                                Navigationssequenzen der Nutzer.</p></li>
                        <li class="navigation_graph1"><span>Aktivität Zeit kumulativ</span>

                            <p>Zeigt häufige Navigationssequenzen der Nutzer.</p></li>
                        <li class="navigation_graph2"><span>Aktivität Zeit (Heatmap)</span>

                            <p>Zeigt häufige Navigationssequenzen der Nutzer.</p></li>
                    </ul>
                </li>

                <li class="dropdown analysis-dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Leistungsanalysen <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="performance_performance"><span>Leistung</span>

                            <p>Zeigt, wie viele Studierende bestimmte Leistungen erreicht haben.</p></li>
                        <li class="performance_performanceavg"><span>Leistung Durchschnitt</span>

                            <p>Zeigt, wie viele Studierende bestimmte Leistungen erreicht haben.</p></li>
                        <li class="performance_cumul"><span>Leistung kumulativ</span>

                            <p>Zeigt, wie viele Studierende bestimmte Leistungen erreicht haben.</p></li>
                        <li class="performance_user"><span>Leistung Nutzer kumulativ</span>

                            <p>Zeigt, wie viele Studierende bestimmte Leistungen erreicht haben.</p></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown settings-dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><div class="cogwheel"></div> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav-header">Einstellungen</li>
                        <li><a href="#">Mein Account</a></li>
                        <li class="nav-header">Sprache</li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Deutsch</a></li>
                    </ul>
                </li>

                <li class="divider"></li>

                <li>
                    <a id="logout" href="index.php">Log out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
